*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(53, 50, 50);
    text-align: center;
    
}
h1{
    margin-top: 30px;
    color: wheat;
    font-size: 50px;
}
.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0 0 0 0.3);
    font-size: 8vmin;
    color: black;
    background-color: wheat;


}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(77, 70, 70);
    border-radius: 1rem;
    border: none;
    color: wheat;
    margin-top: 30px;
}
#reset-btn:hover{
    cursor: pointer;
    background-color: black;
}
#newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(124, 115, 115);
    border-radius: 1rem;
    border: none;
    color: white;
}
#newbtn:hover{
    cursor: pointer;
    background-color: black;
}
#msg{
    color: wheat;
    font-size: 5vmin;

}
.msg-container{
    height: 20vmin;
    gap: 3rem;

}
.hide{
    display: none;
}